body{
    color:white;
}
#bckg-video{
    position: fixed;
    z-index:-100;
    min-width: 100%;
    min-height: 100%;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    color: lightgrey;
    position: fixed;
    display: flex;
}
nav a{
    color:lightgray;
}
.buttons{
    opacity: 0.75;
cursor: pointer;
    font-size: 20px;
    position: absolute;
    top:10px;
    left:800px ; 
    text-transform: uppercase;
    align-content: right;
}
.buttons >li{
    list-style: none;
}
.nav-home,.nav-info,.nav-contact{
    margin:2px;
}
nav  a:hover{
    color:#ffff;
    opacity:1 !important;
}
section.jumbotron{
    margin-top:5%;
    background:none;
}
section.jumbotron > h1 {
    margin-top:5%;
    margin-bottom: 5%;
}
section.jumbotron >.container{
    font-size:20px;
}
section.jumbotron > .contact{
    margin-top:2%;
    padding:15px;
}
#info{
    margin-top:10%;
}
#about{
    margin-bottom: 5%;
}
.row{
    margin-bottom: 5%;
}
.cont{
    padding: 35px;
    margin-bottom: 2%;
}
#contact{
    padding: 35px;
}
.btn-primary{
    margin-top:2%;
}
[type="email"]{
    width: 100%;
}
 .row .hide{
    display: none;
}
@media (max-width:800px){
   .hamburger{
        display: none;
    }
  .jumbotron{
      font-size:2vw;
      height: 100vh;
      top:200px;
  }


}